{% extends "base.html.twig" %}
{% block title %}Serie #{{ program.id}}{% endblock %}
{% block header %}
{% endblock %}

{% block body %}

    <h1> {{ program.title }}</h1>
          <h2>{{ season.description }}</h2>

           {% for episode in episodes %}
               <div>
            <a href="{{ path("program_episode_show", { "program": program.id, "season": season.id, "episode": episode.id }) }}"> Episode :{{ episode.id }}: {{ episode.title }} </a>
               </div>
            {% endfor %}

    <a href="{{ path('program_index') }}">
        Return to list of Program
    </a>



{% endblock %}
